.intro{
  display: flex;
  margin-top: 0;
  text-align: center;
  height: 600px;
  background-image:  linear-gradient(rgba(255, 255, 255, 0.226), rgb(255, 255, 255)), url("Azeroth.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-blend-mode: lighten;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
}
.Habilidades{
  
  width: 100%;
}
.Proyectos h2{
  text-align: center;
}
.Proyectos{
  margin:auto;
  width:90%
}
